/* windowsazure.github.com css customizations
-------------------------------------------------- */

body {
    padding-top: 90px;
    padding-bottom: 40px;
}

code {
    color: #333;
}

h3 {
  font-size: 24.5px;
  color:  #777;
}

h1 {
    padding-bottom: 20px;
}

.nav-tabs > .active > a {
    background-color: #eee;
    color:  #333;
}

.nav-tabs > .active > a:hover {
    background-color: #eee;
    color:  #333;
}

